@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}

:root {
    --red: #D63a25;
    --white: #fff;
    --dark: #1e1c2a;

}

body {
    color: var(--dark);
    background: var(--white);
}



.menu-horizontal {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 18px 40px;
    background: var(--white);
    box-shadow: 0 0.1rem 0.5rem #ccc;
}

.menu-horizontal ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.menu-horizontal li {
    display: inline;
}


.menu-horizontal li a {
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
    display: inline-block;
    display: inline;

}

.menu-horizontal li a:hover {
    color: var(--red);
}

.home-texto {
    text-align: center;
}



.home-texto2 .texto-h1 {
    font-size: 4rem;
    margin-top: 3rem;
    line-height: 4rem;
    color: var(--red);
}

.home-texto2 .texto-h4 {
    font-size: 1.5rem;
    padding-top: 2rem;
}

.apresentacao-direita {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.texto-apresentacao-direita {
    padding-bottom: 5rem;
    text-align: center;
}

.texto-apresentacao-direita p {
    padding: 2rem;
    text-align: justify;
}

.apresentacao-esquerda {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.texto-apresentacao-esquerda {
    padding-bottom: 5rem;
    text-align: center;
    
}

.texto-apresentacao-esquerda p {
    padding: 2rem;
    text-align: justify;
}





@media (max-width: 375px){
    .menu-horizontal{
        display: block;
        text-align: center;
    }

    .home-texto2 .texto-h1{
        font-size: 35px;
    }

    .home-texto2 .texto-h4{
        font-size: 18px;
    }

    .apresentacao-direita {
        display: flex;
        flex-direction:column-reverse;

    }

    .texto-apresentacao-direita h2{
        font-size: 20px;
    }

    .img{
        width: 250px;
        margin-bottom: 20px;
        
    }

    .apresentacao-esquerda{
        display: flex;
        flex-direction: column;
    }

    

    



    


}